<h1 class="blog-title">Blogs</h1>
<input type="text" [(ngModel)]="searchTerm"
       placeholder="Search blogs..." class="blog-search">
<br/>
<a [routerLink]="['/add']" class="read-more">Publish a post</a>
<div class="blog-list">
  <div class="blog-preview" *ngFor="let blog of
filteredBlogs()">
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.content }}</p>
    <p>By {{ blog.author }}</p>
    <div class="vote-buttons">
      <button (click)="upvote(blog)">UPVOTE({{blog.upvotes}})</button>
      <button (click)="downvote(blog)">DOWNVOTE({{blog.downvotes}})</button>
    </div>
    <a [routerLink]="['/blogs', blog.id]" class="read-more">Continue reading</a>
  </div>
</div>
